h1{
    text-align: center;
} 

.Ai{
    width:250px; 
    height:250px;
} 

.DS{
    width:250px; 
    height:250px; 
    margin-left: 350px; 
    margin-top:-600px; 
    top:20px;
} 

.f{
    width:250px; 
    height:250px; 
    margin-left: 700px; 
    margin-top:-200px; 
    top:20px;
}