.box{ 
    background-color:hwb(219 65% 2%); 
    padding:20px; 
    height:190px; 
    width:250px; 
    border-radius: 10%;

}  

h1{
    text-align: center;
}

.box2{ 
    background-color:hwb(219 65% 2%); 
    padding:20px; 
    height:190px; 
    width:250px; 
    border-radius: 10%; 
    margin-right:150px; 
    margin-left:350px; 
    margin-top:-225px;

} 

.box3{ 
    background-color:hwb(219 65% 2%); 
    padding:20px; 
    height:190px; 
    width:250px; 
    border-radius: 10%; 
    margin-top: -225px; 
    margin-right:200px; 
    margin-left:700px;

} 

.container{
    padding:50px; 
    margin:50px;
}